@font-face {
  font-family: 'Nalgae';
  /* 경로 계산? 필요 없습니다. 그냥 전체 주소를 넣습니다. */
  src: url('https://ko-kuma.github.io/assets/fonts/Hakgyoansim_NalgaeR.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Nalgae', "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nalgae', sans-serif !important;
}