/* 폰트 파일 등록하기 (@font-face) */
@font-face {
  font-family: 'Nalgae';
  /* 여기를 수정했습니다 (../fonts/...) */
  src: url('../fonts/Hakgyoansim_NalgaeR.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* 본문에 적용하기 */
body {
  font-family: 'Nalgae', "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, sans-serif !important;
}

/* 제목에도 적용하기 */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Nalgae', sans-serif !important;
}