/* 폰트 파일 등록하기 */
@font-face {
  font-family: 'Nalgae';
  /* 점 2개(..)로 변경했습니다 */
  src: url('../fonts/Hakgyoansim_NalgaeR.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Nalgae', "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nalgae', sans-serif !important;
}