---
---

@import "jekyll-theme-chirpy";

/* 여기서부터 폰트 설정 */
@font-face {
  font-family: 'Nalgae';
  src: url('https://ko-kuma.github.io/assets/fonts/Hakgyoansim_NalgaeR.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Nalgae', "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nalgae', sans-serif !important;
}